.header {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    width: 80%;
    max-width: 1200px;
    margin: 10px auto;
    height: 6rem;
}

.logoContainer {
    flex-grow: 1;
}

@media (max-width: 768px) {
    .header {
        justify-content: space-between;
    }
    .logoContainer {
        position: absolute; 
        left: 50%;
        transform: translateX(-50%);
        z-index: 2; 
    }
    .nav {
        justify-content: flex-start; 
        flex-basis: 50px; 
    }
    .socialIcons {
        justify-content: flex-end; 
        flex-basis: 150px; 
    }
    .menuButton {
        display: block; 
    }
    .navList {
        display: none; 
    }
}

.logo {
    height: 100px;
    width: 120px;
    transition: transform 0.3s ease; 
    cursor: pointer;
    @media (max-width: 768px) {
        height: 100px;
        max-width: 100px;
    }
}

.logo:hover {
    transform: scale(1.03);
}

.socialIcons {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    justify-content: flex-end;
}

.socialIcon {
    display: inline-block;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.socialIcon:hover {
    transform: scale(1.2);
    color: var(--hover-color);
}

.nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navList {
    display: flex;
    justify-content: center;
    gap: 35px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navList li a {
    text-decoration: none;
    color: inherit;
}

.activeLink {
    @apply linkDia;
    color: var(--hover-color);
    font-weight: 500;
    cursor: pointer;
    font-size: var(--text-size);
    position: relative;
    white-space: nowrap;
}

.linkDia {
    cursor: pointer;
    font-size: var(--text-size);
    position: relative;
    white-space: nowrap;
    color: black;
    padding: 10px;
    transition: transform 0.3s ease;
}

.linkDia:hover {
    color: var(--hover-color);
}

.linkDia::before,
.linkDia::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.linkDia::before {
    content: '';
}

.linkDia::before,
.linkDia::after {
    opacity: 0;
    transform-origin: 50% 0%;
    transform: translate3d(0, 3px, 0);
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.8, 1);
}

.linkDia:hover::before,
.linkDia:hover::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-timing-function: cubic-bezier(0.2, 0, 0.3, 1);
}

.linkDia::after {
    content: '';
    top: calc(100% + 4px);
    width: 70%;
    left: 15%;
}

.linkDia::before,
.linkDia:hover::after {
    transition-delay: 0.1s;
    color: var(--hover-color);
}

.linkDia:hover::before {
    transition-delay: 0s;
}

@media (max-width: 768px) {
    .linkDia {
        display: block;
    }
}

.menuButton {
    position: relative;
    width: 30px;
    height: 25px;
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menuButton span,
.menuButton.open span,
.menuButton span::before,
.menuButton span::after,
.menuButton.open span::before,
.menuButton.open span::after {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.menuButton span,
.menuButton span::before,
.menuButton span::after {
    position: absolute;
    height: 2px;
    background-color: black;
    width: 100%;
    transition: all 0.3s ease;
    border-radius: 2px;
}

.menuButton span::before,
.menuButton span::after {
    content: '';
    left: 0;
}

.menuButton span {
    top: 50%;
    transform: translateY(-50%);
}

.menuButton span::before {
    top: -8px;
}

.menuButton span::after {
    top: 8px;
}

.menuButton.open span {
    background: transparent;
}

.menuButton.open span::before,
.menuButton.open span::after {
    top: 0;
}

.menuButton.open span::before {
    transform: rotate(45deg);
}

.menuButton.open span::after {
    transform: rotate(-45deg);
}

@media (max-width: 768px) {
    .menuButton {
        display: block; 
    }

    .navList {
        display: none;
    }
}

@keyframes fadeInOverlay {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    visibility: hidden; 
    opacity: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.overlay.show {
    display: flex;
    animation: fadeInOverlay 0.5s forwards; 
}


.overlayNavList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.overlay.show .overlayNavList {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.overlay.show .overlayNavList li span {
    font-size: 24px;
    padding: 10px;
    transition: color 0.5s ease;
}

.overlay.show .overlayNavList li span:hover {
    color: var(--hover-color);
}